.flex-jc-ac{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container{
    height: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 0px 2px #00000029;
    border: 1px solid rgb(206, 206, 206);
    width: 370px;
}
.main-container-login{
height: 100vh;
width: 100vw;
}
.logo-icon{
    height: 150px;
    border-radius: 50%;
}
.gap-20px{
    gap: 20px;
}
.flex-d-col{
    flex-direction: column;
}


.margin-top-20px{
    margin-top: 20px;
}
.app-logo{
    background-color: #222229;
    color: white;
    border-radius: 10px;
    padding: 7px 20px;
    font-size: 18px;
    font-weight: 700;
    width: fit-content;
}