<p-toast></p-toast>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<ngx-spinner name="sp2" type="ball-scale-multiple"></ngx-spinner>

<div #screen>
  <!-- <nav class="navbar navbar-dark bg-primary" id="nav-div" *ngIf="sessionService.isUserInSystem">
    <span class="title">{{title()}}</span>
    <span style="padding-right: 2%; cursor: pointer;">
      <img height="35px" width="35px" src="./assets/img/screenshot.png" (click)="capture()">
    </span>
  </nav> -->
  <!-- <p-menubar [model]="items" *ngIf="sessionService.isUserInSystem"></p-menubar> -->
  <!-- <p-tabs value="0" *ngIf="sessionService.isUserInSystem">
    <p-tablist>
      <ng-container *ngFor="let tab of items; let index = index;">
        <p-tab value="{{index}}" (click)="tab.command">{{tab.label}}</p-tab>
      </ng-container>
    </p-tablist>
  </p-tabs> -->
  <div class="content-outlet">
    <router-outlet></router-outlet>
  </div>
</div>

<div id="screenshot-div">
  <a class="view-btn-attach" *ngIf="show" [href]="selectedFileBLOB" target="_blank">View</a>
</div>